.scroll-container {
  overflow: hidden;
}

.wide {
  display: flex;
  gap: 1.5rem;              /* spacing between images */
  width: max-content;
  animation: scrollX 20s linear infinite;
}

.wide:hover{
     animation-play-state: paused;
}

@keyframes scrollX {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* one set scrolls away */
  }
}
