.image2{
    overflow: hidden;

}

.image2 figure{
    display: flex;
    position: relative;
    animation: 15s slider infinite;
}

.image2 figure img{
    float: left;
}

@keyframes image2{
    0%{
        left:0;
    }

    25%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    75%{
        left: -200%;
    }
    100%{
        left: -200%;
    }
}

@keyframes image2 {
  0% {
    left: 0;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

